* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625px = 62.5 */
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 137rem;
}