* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625px = 62.5 */
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

/* img {
    display: block;
    width: 100%;
} */

.container {
    max-width: 141rem;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* -----Header------ */

header {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

header nav a {
    text-decoration: none;
    display: inline-block;
    padding: 30px 35px;
    color: black;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    transition: all 1s;
}

header nav ul li a:hover {
    background-color: rgb(130, 181, 162);
    color: #FFF;
    transition: all 1.3s;
}

header nav ul li ul {
    display: inline-block;
    position: absolute;
    top: 8.35rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    width: 155px;
}

header nav ul li ul li {
    width: 100%;
}

header nav ul li ul li a {
    width: 100%;
}

header nav ul li:hover>ul {
    display: inline-block;
}

header nav ul li ul li ul {
    top: 0;
    display: none;
    left: 135px;
    position: absolute;
}

nav>i,
nav ul>i {
    display: none !important;
}

header nav ul li:hover>a i {
    transform: rotate(90deg);
    transition: all 0.8s;
}

header .serch {
    color: #fff;
    font-size: 15px;
    padding-left: 3.3rem;
}

.container nav>i,
#menu > i {
    display: none;
}

.dark-header {
    background-color: black;
}

/* -----Headre----- */

/* -----hero-Section----- */

#hero {
    background: url(../images/breathtaking-shot-beautiful-stones-turquoise-water-lake-hills-background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 3.8rem;
}

#hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0;
}

.hero-data {
    top: 25%;
    position: absolute;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    color: #fff;
}

.hero-data span {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #ECECEC;
}

.hero-data p {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #CFCFCF;
    margin-top: 3.7rem;
    margin-bottom: 1.2rem;
}

#hero .explore-form {
    height: 78.0716552734375px;
    width: 736px;
    border-radius: 72px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem 1rem 1rem 2.2rem;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
}

#hero .explore-form select {
    border: none;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #9B9B9B;
    cursor: pointer;
}

#hero input {
    border: none;
    height: 56.866943359375px;
    width: 161px;
    border-radius: 28.4334716796875px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/* ---------------------- */

/* ********explore section********* */

#Explore {
    margin-top: 17.8rem;
}

.main-title h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
}

.main-title p {
    margin-top: 2.9rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
    margin-bottom: -18px;
}

.explore-slider .explore-img {
    height: 36rem;
}

.explore-slider .swiper-wrapper {
    padding: 8rem 1rem 4rem 1rem;
}

.explore-slider .swiper-slide:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 1rem 1rem;
    transition: all 0.5s;
    transform: translateY(-1rem);
}

.explore-slider .explore-img img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center center;
}

.swiper-slide .explore-data {
    padding: 0rem 1.9rem 2.7rem 1.4rem;
    position: relative;
    opacity: 0;
}

.swiper-slide:hover .explore-data {
    opacity: 1;
    cursor: pointer;
}

.explore-slider .swiper-slide:hover .explore-img img {
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    height: 31.6rem;
}

.explore-data .explore-circle {
    width: 8rem;
    position: absolute;
    top: -6rem;
    right: 2rem;
    height: 8rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 31px 0 rgba(0, 0, 0, 0.25);
}

.explore-data .explore-circle span {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 12.6rem;
    color: #000000;
    margin-top: -5px;
    text-align: center;
    display: block;
}

.explore-data h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 7px;
}

.explore-data p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
}

.swiper-slide-section {
    position: relative;
}

#Explore .swiper-button-prev,
#Explore .swiper-button-next {
    position: absolute;
    top: 0;
    width: 6.6rem;
    height: 6.9rem;
    background-color: #fff;
    border-radius: 1rem;
    z-index: 9;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2);
}

#Explore .swiper-button-next::after,
#Explore .swiper-button-prev::after {
    font-size: 2rem;
    color: #737373;
}

/* ******************************** */

/* ************Why-section********* */

#why {
    margin-top: 11.8rem;
    background: url(../images/mesmerizing-view-sunset-sea-stones.jpg);
    position: relative;
    background-size: 100% 50rem;
    background-repeat: no-repeat;
}

.why-container h2,
.Subcribe-container h2 {
    padding-top: 2.6rem;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #fff;
}

.why-container p,
.Subcribe-container p {
    margin-top: 0.6rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #EFEFEF;
    margin-bottom: 1.7rem;
}

.main-why-slider {
    margin: 0 60px 0 60px;
}

.why-slider .main-why-slider {
    height: 43.2rem;
    margin-top: 14rem;
    margin-bottom: 6rem;
    background-color: #fff;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 4.5rem 2rem 0 1.9rem;
}

.main-why-slider .why-image {
    height: 9.7rem;
    width: 9.5rem;
}

.why-data h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    padding-top: 33px;
}

.why-data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #858585;
    padding: 10px 0px 39px 0;
}

.why-data a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

#why .swiper-slide-sections {
    position: relative;
}

#why .swiper-slide-sections .swiper-button-prev1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.6rem;
    height: 6.9rem;
    background-color: #fff;
    border-radius: 1rem;
    z-index: 9;
    text-align: center;
    padding-top: 2.5rem;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#why .swiper-slide-sections .swiper-button-next1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 6.6rem;
    height: 6.9rem;
    background-color: #fff;
    border-radius: 1rem;
    z-index: 9;
    text-align: center;
    padding-top: 2.5rem;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#why .swiper-slide-sections .swiper-button-next1::after,
#why .swiper-slide-sections .swiper-button-prev1::after {
    font-size: 2rem;
    color: #737373;
}

.swiper-slide-sections .swiper-button-prev1::after {
    content: 'prev';
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-slide-sections .swiper-button-next1::after {
    content: 'next';
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

/* ******************************** */

/* ********OurTor-section********** */

/* #ourtor .container {
    width: 113.8rem;
} */

#ourtor {
    margin-top: 12rem;
}

.our-data h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
}

.our-data p {
    margin-top: 2.9rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
    margin-bottom: -18px;
}

.our-logo {
    padding: 0 60px;
    padding-top: 7rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.our-logo img {
    width: 14rem;
}

/* ******************************** */

/* ********cilentsay-section******* */

#clientsay {
    margin-top: 17.9rem;
}

.clinet-container {
    margin-left: calc((100% - 137rem) / 2);
}

.client-data {
    margin-bottom: 191px;
}

.client-data h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: 0.14em;
    color: #626262;
}

.client-data h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #020202;
}

.client-data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626262;
}

.clinte-slider .swiper-slide {
    margin-bottom: 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.swiper-slide .main-clinte-slide {
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.clinte-image {
    margin-bottom: -6rem;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.data-clinte {
    padding-top: 9rem;
}

.data-clinte h4 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.data-clinte h5 {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #858585;
}

.client-star h5 {
    padding: 1.8rem 8rem 0rem 5.3rem;
    padding-bottom: 5.1rem;
    font-weight: 500;
    font-size: 18px;
    color: #858585;
}

.client-star img {
    margin-top: 7rem;
    margin-left: 5.3rem;
}

#clientsay .clinte-swiper-slide-section {
    position: relative;
    float: right;
    bottom: 13.7rem;
}

#clientsay .clinte-swiper-slide-section .swiper-button-prev2 {
    position: absolute;
    top: 0;
    right: 13rem;
    width: 6.6rem;
    height: 6.9rem;
    background-color: #fff;
    border-radius: 1rem;
    z-index: 9;
    text-align: center;
    padding: 2.5rem;
    cursor: pointer;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2);
}

#clientsay .clinte-swiper-slide-section .swiper-button-next2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 6.6rem;
    height: 6.9rem;
    background-color: #fff;
    border-radius: 1rem;
    z-index: 9;
    text-align: center;
    padding: 2.5rem;
    cursor: pointer;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2);
}

#clientsay .clinte-swiper-slide-section .swiper-button-next2::after,
#clientsay .clinte-swiper-slide-section .swiper-button-prev2::after {
    font-size: 2rem;
    color: #737373;
}

.clinte-swiper-slide-section .swiper-button-prev2::after {
    content: 'prev';
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.clinte-swiper-slide-section .swiper-button-next2::after {
    content: 'next';
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

/* ******************************** */

/* ********Subcribe-section******** */

#Subcribe {
    margin-top: 14rem;
    background: url(../images/green-purple.jpg);
    position: relative;
    background-size: 100% 54.2rem;
    background-repeat: no-repeat;
}

.Subcribe-container h2 {
    padding-top: 6.6rem;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #fff;
}

.Subcribe-container p {
    margin-top: 2.6rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #DFDFDF;
    margin-bottom: 1.7rem;
}

.explore-Subcribe {
    justify-content: center;
    display: flex;
    padding: 8.8rem 0 15.7rem 0;
}

#Subcribe .explore-form {
    width: 676px;
    height: 69px;
    border-radius: 72px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem 0.7rem 1rem 2.2rem;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
}

#Subcribe .types {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #9B9B9B;
    border: none;
    padding: 0.5rem 1rem 1rem 1rem;
}

#Subcribe .Subcribe {
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    width: 146px;
    height: 55px;
    background: #000000;
    border-radius: 27.5px;
    padding: 1rem 1rem 1rem 1rem;
}

/* ******************************** */

/* ********footer-section********** */

#top{
    margin: 8rem 0;
}

.buttom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.traveller p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #6C6C6C
}


.contact h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.contact ul li {
    list-style: none;
}

.contact ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
    display: inline-block;
}

.contact ul li i {
    padding-right:1rem;
    font-size: 1.5rem;
}

.quick h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #000000;
}

.quick ul li {
    list-style: none;
}


.quick ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

.follow h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #000000;
}

.follow i {
    font-size: 2rem;
    padding: 0 1rem 0 0;
}

.copyright p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #DFDFDF;
    background-color: #000;
    height: 8.9rem;
    padding-top:5rem ;
}

/********/

/* ******************************** */

/* 1366-1440 (laptop) */
@media screen and (max-width: 1440px) {
    .container {
        max-width: 137rem;
    }
    .hero-data h1 {
        font-size: 80px;
        line-height: 100px;
    }
    .hero-data {
        top: 40%;
    }
    #hero .explore-form {
        height: 70px;
        width: 655px;
    }
    #Explore {
        margin-top: 15.8rem;
    }
    .main-title h2,
    .why-container h2,
    .our-data h1,
    .Subcribe-container h2,
    .client-data h2 {
        font-size: 55px;
    }
    .client-data h3 {
        line-height: 53px;
    }
    .main-title p {
        margin-top: 2rem;
    }
    #why {
        margin-top: 11.7rem;
    }
    #ourtor {
        margin-top: 10rem;
    }
    .Subcribe-container h2 {
        line-height: 60px;
    }
    .clinet-container {
        margin-left: calc((100% - 133rem) / 2);
    }
}

/* 1200-1365 (big tablet) */
@media screen and (max-width: 1365px) {
    .container {
        max-width: 95%;
    }
    .hero-data h1 {
        font-size: 70px;
        line-height: 90px;
    }
    .hero-data {
        top: 35%;
    }
    header nav a {
        padding: 23px 23px;
    }
    .hero-data p {
        font-size: 15px;
        line-height: 32px;
        color: #CFCFCF;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    #hero .explore-form {
        height: 65px;
        width: 600px;
        padding: 1rem 0.8rem 1rem 2.2rem;
    }
    #hero input {
        height: 49.866943px;
        width: 145px;
        font-size: 15px;
    }
    #hero .explore-form select {
        font-size: 15px;
    }
    .main-title h2,
    .why-container h2,
    .our-data h1,
    .Subcribe-container h2,
    .client-data h2 {
        font-size: 50px;
    }
    .clinet-container {
        margin-left: calc((100% - 110rem) / 2);
    }
}

/* 992-1199 (big tablet) */
@media screen and (max-width: 1199px) {
    .container {
        max-width: 95%;
    }
    .hero-data h1 {
        font-size: 60px;
        line-height: 77px;
    }
    .hero-data {
        top: 32%;
    }
    .logo img {
        width: 18rem;
        height: 3.8rem;
    }
}

/* 768-991 (small tablet) */
@media screen and (max-width: 991px) {

}

/* 575-767 (Mobile landscape) */
@media screen and (max-width: 767px) {
    
}

/* 480-574 (Mobile) */
@media screen and (max-width: 574px) {
    
}

/* 0-320-479 (small-mobile) */
@media screen and (max-width: 479px) {
    
}